---
interface Link {
    href: string;
    label: string;
}

interface Props {
    links: Link[];
}

const { links } = Astro.props;
---

<div class="links">
    {links.map((link) => (
        <a href={link.href}>{link.label}</a>
    ))}
</div>
